<nav class="site-header sticky-top py-1">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2 logo" href="#">
                        <img src="img/logo.png" height="21">&nbsp;&nbsp;&nbsp;<span class="logo-text">AUTOREMIND</span>
                </a>

                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search For Client"
                                aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div class="btn-group">
                        <button type="button"
                                class="py-2 d-none d-md-inline-block btn btn-outline-light dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ted Pedersen
                        </button>
                        <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Logout</a>
                        </div>
                </div>
        </div>
</nav>

<div class="container-fluid">
        <table class="table table-striped cal">
                <thead>
                        <tr>
                                <th scope="col">Mon</th>
                                <th scope="col">Tues</th>
                                <th scope="col">Wed</th>
                                <th scope="col">Thurs</th>
                                <th scope="col">Fri</th>
                                <th scope="col">Sat</th>
                                <th scope="col">Sun</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td><span class="badge badge-secondary"></span>AUG 31</span><br><span>{{getDateAppointmentCount dateAppointments 'AUG31'}}</span>
                                        Reminders sent</td>
                                <td><span class="badge badge-info date-value">SEPT 1</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT1'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 2</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT2'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 3</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT3'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 4</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT4'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 5</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT5'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 6</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT6'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                        </tr>
                        <tr>
                                <td><span class="badge badge-info date-value">SEPT 7</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT7'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 8</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT8'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 9</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT9'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 10</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT10'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 11</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT11'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 12</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT12'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 13</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT13'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                        </tr>
                        <tr>
                                <td><span class="badge badge-info date-value">SEPT 14</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT14'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 15</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT15'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 16</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT16'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 17</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT17'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 18</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT18'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 19</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT19'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 20</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT20'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                        </tr><tr>
                                <td><span class="badge badge-info date-value">SEPT 21</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT21'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 22</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT22'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 23</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT23'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 24</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT24'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 25</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT25'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 26</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT26'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                                <td><span class="badge badge-info date-value">SEPT 27</span><br><span class="reminder-count">{{getDateAppointmentCount dateAppointments 'SEPT27'}}</span>
                                        Reminders <a class="btn btn-primary btn-sm edit-button">EDIT</a></td>
                        </tr>
                </tbody>
        </table>

        {{> model}}
</div>